.review-carousel {
    position: relative;
    padding: 20px;
    /* background-color: #f9f9f9;  */
    background-color: (254,251,246); 
  }
  
  .review-slider .slick-slide {
    display: flex;
    justify-content: center;
    padding: 0 15px; /* Added padding around the slider for extra space */
  }
  
  .review-card {
    /* background: white; */
    background-color: rgb(244,239,244);
    /* background-color: rgb(254,251,246); */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow */
    text-align: center;
    margin: 0 10px; /* Increased margin for more spacing between reviews */
    margin-bottom: 10px;
  }
  
  .review-text {
    font-size: 18px;
    font-weight: 300;
    color: #333;
    margin-bottom: 10px;
  }
  
  .review-author {
    font-size: 16px;
    font-weight: 400;
    color: #666;
  }
  
  .slick-dots {
    bottom: 20px; /* Adjusted bottom position of dots */
  }
  
  .slick-dots li button:before {
    color: #bbb;
  }
  
  .slick-dots li.slick-active button:before {
    color: #717171;
  }
  
  .row {
    margin-top: 00px; /* Added margin-top for spacing above the button */
  }
  
  /* Optional: Add responsiveness */
  @media (max-width: 768px) {
    .review-text {
      font-size: 16px;
    }
  
    .review-author {
      font-size: 14px;
    }
  }
  