.testimonial-container {
  /* display: flex; */
  /* justify-content: center; */
  background-color: var(--white);
  padding-bottom: 0;
  text-align: center;
}

.testimonials-title {
  text-transform: uppercase;
  font-size: 2rem;
  color: var(--dark);
  font-weight: 600;
  padding-top: 10px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  cursor: pointer;
}

.testimonial-body {
  color: var(--dark);
  padding: 15px;
  height: 170px;
  text-align: left;
}

.testimonial-body .quote {
  padding-right: 10px;
  color: var(--light);
}

.testimonial-body .quote:last-child {
  padding-left: 10px;
  vertical-align: top;
}

.testimonial-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  text-align: center;
}

.testimonial-image img {
  widows: 150px;
  width: 200px;
  height: 200px;
  margin: 5px;
}

.testimonial-image {
  font-size: 20px;
}

.testimonial-image p:first-child {
  font-size: 18px;
  font-style: bold;
  font-weight: 660;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  display: none;
}

li.alice-carousel__dots-item {
  background-color: rgb(244, 239, 244) !important;
}

li.alice-carousel__dots-item.__active {
  background-color: rgb(244, 239, 244) !important;
}

ul.alice-carousel__dots {
  padding: 5px;
  margin: 0;
}

/* laptops */
@media (max-width: 1100px) {
  .testimonials-description {
    color: var(--dark);
    padding-bottom: 5px;
    font-size: 1.5em;
  }
  .testimonials-title {
    text-transform: uppercase;
    font-size: 50px;
    color: var(--dark);
    font-weight: 600;
    padding-top: 10px;
  }
  .testimonial-body {
    padding: 5px;
    font-size: 17px;
  }
  .testimonial-image img {
    widows: 150px;
    width: 220px;
    height: 220px;
    margin: 5px;
  }
  .testimonial-image {
    font-size: 17px;
  }

  .testimonial-image p:first-child {
    font-size: 22px;
    font-style: bold;
    font-weight: 660;
  }
}

@media (max-width: 2200px) {
  .testimonials-description {
    color: var(--dark);
    padding-bottom: 5px;
    font-size: 1.6em;
  }
  .testimonials-title {
    text-transform: uppercase;
    font-size: 70px;
    padding-bottom: 20px;
    color: var(--dark);
    font-weight: 600;
    padding-top: 10px;
  }
  .testimonial-body {
    padding: 24px;
    font-size: 20px;
  }
  .testimonial-image img {
    widows: 150px;
    width: 220px;
    height: 220px;
    margin: 5px;
  }
  .testimonial-image {
    font-size: 17px;
  }

  .testimonial-image p:first-child {
    font-size: 22px;
    font-style: bold;
    font-weight: 660;
  }
}

/* small laptops  */
@media (max-width: 800px) {
  .testimonials-description {
    color: var(--dark);
    padding-bottom: 5px;
    font-size: 1.2em;
  }
  .testimonials-title {
    text-transform: uppercase;
    font-size: 40px;
    color: var(--dark);
    font-weight: 600;
    padding-top: 10px;
  }
}

/* small phones */
@media (max-width: 400px) {
  .testimonials-description {
    color: var(--dark);
    padding-bottom: 5px;
    font-size: 1em;
  }
  .testimonials-title {
    text-transform: uppercase;
    font-size: 30px;
    color: var(--dark);
    font-weight: 600;
    padding-top: 10px;
  }
  .testimonial-body {
    padding: 5px;
    font-size: 15px;
  }
  .testimonial-card {
    width: 250px;
  }
  .testimonial-image img {
    widows: 150px;
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .testimonial-image {
    font-size: 15px;
  }

  .testimonial-image p:first-child {
    font-size: 20px;
    font-style: bold;
    font-weight: 660;
  }
}

.bigTexts {
  font-size: 5vw; /* Adjust based on viewport width */
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Keeps text from overflowing */
  text-overflow: ellipsis; /* Adds an ellipsis if text is too long */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Enhances readability */
  color: white; /* Ensuring text color is white for better visibility */
}

/* Responsive Font Size Adjustments */
@media (max-width: 768px) {
  .bigTexts {
    font-size: 5vw; /* Slightly larger on smaller screens to maintain readability */
  }
}

@media (min-width: 768px) {
  .bigTexts {
    font-size: 3.5vw; /* Slightly smaller on larger screens */
  }
}

@media (min-width: 1024px) {
  .bigTexts {
    font-size: 4vw; /* Smaller as the screens get larger */
  }
}

@media (min-width: 1200px) {
  .bigTexts {
    font-size: 4.5vw; /* Minimum size cap for very large screens */
    padding: 10px;
  }
}

@media (min-width: 1920px) {
  .bigTexts {
    font-size: 3vw; /* Avoid too large text on very large screens */
  }
}
