.addShadow{
  text-shadow: 5px 1.5px 0px rgba(0, 0, 0, 0.5);
}
.background-image-container {
  position: relative;
  background-image: url('../../../Resources/Background/betterQuality.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh; /* Adjust the height as needed */
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Other styles for text overlay */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
  .background-image-container {
      height: 50vh; /* Adjust the height for smaller devices */
  }
}

/* Galaxy Field */
@media screen and (width<=280px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 2.2em;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* Small mobiles like iphone SE*/
@media screen and (width>280px) and (width<=375px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 1.9em;
  }

  .smallTexts {
    font-size: 0.7em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for mobiles */
@media screen and (width>376px) and (width<=420px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 2.2em;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    /* margin-bottom: 0px; */
    box-shadow: 20px 20px 20px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for tablets */
@media screen and (width>420px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 2.2em;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for laptops */
@media screen and (width>820px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 2px;
    font-size: 4em;
  }
  .smallTexts {
    font-size: 1.7em;
    margin-top: 30px;
  }

  .buttonsSpacing {
    padding: 5px;
  }

  .boxing {
    /* background-color: rgb(247, 193, 68); */
    opacity: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 55px;
    box-shadow: 15px 20px 30px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
