.background-image-container {
  position: relative;
  background-image: url("../../../Resources/Background/showcaseImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.overlay-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.bigTexts {
  font-size: 4vw; /* Adjust based on viewport width */
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Keeps text from overflowing */
  text-overflow: ellipsis; /* Adds an ellipsis if text is too long */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Enhances readability */
  color: white; /* Ensuring text color is white for better visibility */
}

/* Responsive Font Size Adjustments */
@media (max-width: 768px) {
  .bigTexts {
    font-size: 4vw; /* Slightly larger on smaller screens to maintain readability */
  }
}

@media (min-width: 768px) {
  .bigTexts {
    font-size: 3.5vw; /* Slightly smaller on larger screens */
  }
}

@media (min-width: 1024px) {
  .bigTexts {
    font-size: 3vw; /* Smaller as the screens get larger */
  }
}

@media (min-width: 1200px) {
  .bigTexts {
    font-size: 2.5vw; /* Minimum size cap for very large screens */
  }
}

@media (min-width: 1920px) {
  .bigTexts {
    font-size: 2vw; /* Avoid too large text on very large screens */
  }
}
