.background-image-container {
  position: relative;
  background-image: url("../../../Resources/Background/showcaseImg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 70vh; /* Adjust the height as needed */
}

.overlay-text {
  position: absolute;
  top: 55%; /* Default vertical position */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-text p {
  margin-bottom: 10px;
  font-size: 16px; /* Default font size */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
}

.button {
  background-color: #4caf50; /* Green background color */
  border: none;
  color: white; /* Text color */
  padding: 15px 32px; /* Padding */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* Default font size */
  margin: 4px; /* Adjust margin */
  cursor: pointer;
  border-radius: 8px; /* Border radius */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Box shadow with black color */
}

/* Add space between buttons */
.button + .button {
  margin-left: 10px;
}

/* Media query for MacBook 16-inch */
@media (max-width: 3072px) {
  .overlay-text {
    top: 55%; /* Adjust the vertical position */
  }
  .overlay-text p {
    font-size: 20px; /* Increase font size for larger screens */
  }
  .button {
    font-size: 18px; /* Increase font size for larger screens */
  }
}

/* Media query for MacBook 14-inch */
@media (max-width: 2880px) {
  .overlay-text {
    top: 55%; /* Adjust the vertical position */
  }
  .overlay-text p {
    font-size: 18px; /* Increase font size for larger screens */
  }
  .button {
    font-size: 16px; /* Increase font size for larger screens */
  }
}

/* Media query for iPhone 12, 13, 14 Pro, and all Pro Maxes */
@media (max-width: 428px) {
  .overlay-text {
    top: 55%; /* Adjust the vertical position */
  }
  .overlay-text p {
    font-size: 14px; /* Decrease font size for smaller screens */
  }
  .button {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
}

/* Galaxy Field */
@media screen and (width<=280px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 2.2em;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* Small mobiles like iphone SE*/
@media screen and (width>280px) and (width<=375px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 1.9em;
  }

  .smallTexts {
    font-size: 0.7em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for mobiles */
@media screen and (width>376px) and (width<=420px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 10px;
    font-size: 1.2em;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    /* margin-bottom: 0px; */
    box-shadow: 20px 20px 20px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for tablets */
@media screen and (width>420px) {
  .bigTexts {
    margin-bottom: 12px;
    padding-top: 112px;
    font-size: 30px;
  }

  .smallTexts {
    font-size: 0.8em;
    margin-top: 15px;
  }

  .buttonsSpacing {
    padding-top: 15px;
    margin-bottom: 5px;
  }

  .boxing {
    opacity: 0.77;
    padding: 15px;
    margin-bottom: 55px;
    box-shadow: 15px 15px 15px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}

/* for laptops */
@media screen and (width>820px) {
  .bigTexts {
    margin-bottom: -10px;
    padding-top: 2px;
    font-size: 4em;
  }
  .smallTexts {
    font-size: 1.7em;
    margin-top: 30px;
  }

  .buttonsSpacing {
    padding: 5px;
  }

  .boxing {
    /* background-color: rgb(247, 193, 68); */
    opacity: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 55px;
    box-shadow: 15px 20px 30px black;
    border-radius: 25px;
  }

  .backgroundImage {
    background-size: cover;
    height: 100%;
    width: 100%;
  }
}
