$primary: rgb(216, 191, 216); /* Thistle */
$secondary: rgb(228, 217, 201); /* Oat */
$light: rgb(183, 104, 76); /* Clay */
$dark: rgb(146, 0, 10); /* Sangria */
$white: rgb(255, 255, 255); /* Sangria */


// $primary: rgb(255,255,255);
// $secondary:rgb(212,106,25); 
// $light: rgb(247, 193, 68);
// $dark: rgb(98, 10, 21);

// Theme 1 
// $primary: rgb(255, 204, 188);
// $secondary:rgb(217, 160, 162 ); 
// $light: rgb(230, 230, 230);
// $dark: rgb(120, 81, 92);
@import "~bootstrap/scss/bootstrap.scss";