$primary: rgb(255,255,255);
$secondary:rgb(212,106,25); 
$light: rgb(247, 193, 68);
$dark: rgb(98, 10, 21);

// Theme 1 
// $primary: rgb(255, 204, 188);
// $secondary:rgb(217, 160, 162 ); 
// $light: rgb(230, 230, 230);
// $dark: rgb(120, 81, 92);
@import "~bootstrap/scss/bootstrap.scss";