$primary: rgb(216, 191, 216); /* Thistle */
$secondary: rgb(228, 217, 201); /* Oat */
$light: rgb(183, 104, 76); /* Clay */
$dark: rgb(146, 0, 10); /* Sangria */
$white: rgb(255, 255, 255); /* Sangria */
@import "~bootstrap/scss/bootstrap.scss";