.onboarding-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align content at the top */
  height: 90vh;
  padding: 0 10px; /* Add padding for better responsiveness */
}

.progress-bar-container {
  width: 100%;
  padding: 20px 0; /* Increase padding for larger nav section */
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.progress-bar {
  width: calc(90% - 20px); /* Maintain previous width */
  height: 8px;
  border-radius: 4px;
  /* background-color: #00ffff; */
  background-color: transparent;
  appearance: none;
}
.progress-bar::-webkit-progress-bar {
  background-color: rgb(243, 243, 243); /* Lighter grey */
}
/* Customize the progress bar itself (gold color) */
.progress-bar::-webkit-progress-value {
  background-color: rgb(190, 156, 92); /* Gold color */
}

.question-container {
  margin-top: 100px; /* Add margin to push down the content */
  text-align: center; /* Center the text */
}

.question {
  font-size: 24px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgb(72, 39, 110);
  color: white;
  cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Responsive styles */
@media (max-width: 768px) {
  .question {
    font-size: 20px; /* Decrease font size for smaller screens */
  }

  .button-container {
    width: 100%;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center;
  }

  .button {
    width: 100%; /* Make buttons full width */
    margin-bottom: 10px; /* Add margin between buttons */
  }
}

@media (max-width: 480px) {
  .progress-bar {
    width: 90%; /* Adjust width for very small screens */
  }

  .question-container {
    margin-top: 80px; /* Adjust margin for smaller screens */
  }

  .question {
    font-size: 18px; /* Further decrease font size for very small screens */
  }
}
