:root {
  --primary: rgb(254, 251, 246); /* light cream */
  --secondary: rgb(67, 67, 67); /* light black */
  --light: rgb(244, 239, 244); /* light purple */
  --dark: rgb(72, 39, 110); /* dark purple */
  --white: rgb(254, 251, 246); /* white */
  --info: rgb(190, 156, 92); /* info */
}

.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.subscription-card {
  background: var(--primary);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.subscription-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.free-plan {
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

.premium-plan {
  border: 2px solid var(--dark);
  background: var(--light);
  color: var(--dark);
}

.subscription-card h2 {
  margin-top: 0;
  color: inherit;
  font-size: 1.5rem;
}

.subscription-card .price {
  font-size: 1.25rem;
  color: inherit;
  margin: 10px 0;
}

.subscription-card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.subscription-card li {
  margin: 10px 0;
  font-size: 1rem;
  color: inherit;
}

.premium-plan li {
  font-size: 0.875rem; /* Smaller font size for premium plan items */
}

.select-button {
  background-color: var(--secondary);
  color: var(--primary);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.select-button:hover {
  background-color: var(--dark);
}

.premium-plan .select-button {
  background-color: var(--dark);
}

.premium-plan .select-button:hover {
  background-color: var(--secondary);
}

@media (min-width: 768px) {
  .subscription-container {
    flex-direction: row;
    justify-content: center;
  }

  .subscription-card {
    width: 45%;
    max-width: none;
  }

  .subscription-card h2 {
    font-size: 2rem;
  }

  .subscription-card .price {
    font-size: 1.5rem;
  }

  .subscription-card li {
    font-size: 1.25rem;
  }

  .premium-plan li {
    font-size: 1rem; /* Adjust font size for premium plan items on larger screens */
  }

  .select-button {
    font-size: 1.25rem;
  }
}

@media (min-width: 1200px) {
  .subscription-container {
    justify-content: center;
  }

  .subscription-card {
    width: 30%;
  }
}
