.congrats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary);
  padding: 20px;
}
.congrats-card {
  background: var(--light);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
  max-width: 500px;
  width: 100%;
}

.congrats-card h1 {
  margin-top: 0;
  color: var(--dark);
  font-size: 2rem;
}

.congrats-card p {
  color: var(--secondary);
  font-size: 1.25rem;
  margin: 20px 0;
}
.subscription-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.subscription-card {
  background: var(--primary);
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow */
  width: 80%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.subscription-card:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Enhanced hover shadow */
}

.free-plan {
  /* border: 2px solid var(--secondary); */
  color: var(--secondary);
}

.premium-plan {
  /* border: 2px solid var(--dark); */
  background: var(--light);
  color: var(--dark);
}

.subscription-card h2 {
  margin-top: 0;
  color: inherit;
  font-size: 1.5rem;
}

.subscription-card .price {
  font-size: 1.25rem;
  color: inherit;
  margin: 10px 0;
}

.subscription-card ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.subscription-card li {
  margin: 5px 0; /* Reduced margin between list items */
  font-size: 1rem;
  color: inherit;
}

.premium-plan li {
  font-size: 0.875rem; /* Smaller font size for premium plan items */
  margin: 5px 0; /* Reduced margin between list items */
}

.select-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted button shadow */
}

.select-button:hover {
  background-color: var(--dark);
}

.premium-plan .select-button {
  background-color: var(--dark);
}

.premium-plan .select-button:hover {
  background-color: var(--secondary);
}

h5 {
  margin-top: 40px; /* Add space above the header */
}

@media (min-width: 768px) {
  .subscription-container {
    flex-direction: row;
    justify-content: center;
  }

  .subscription-card {
    width: 45%;
    max-width: none;
  }

  .subscription-card h2 {
    font-size: 2rem;
  }

  .subscription-card .price {
    font-size: 1.5rem;
  }

  .subscription-card li {
    font-size: 1.25rem;
  }

  .premium-plan li {
    font-size: 1rem; /* Adjust font size for premium plan items on larger screens */
  }

  .select-button {
    font-size: 1.25rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Adjusted button shadow */
  }
}

@media (min-width: 1200px) {
  .subscription-container {
    justify-content: center;
  }

  .subscription-card {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .congrats-card h1 {
    font-size: 1.5rem;
  }

  .congrats-card p {
    font-size: 1rem;
  }

  .next-button {
    font-size: 1rem;
    padding: 8px 16px;
  }
}
.next-button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.next-button:hover {
  background-color: var(--secondary);
}